@charset "UTF-8";
/**
 * 
 * @authors xia.lili@9douyu.com
 * @date    2017-12-27
 * @version NewYear
 */

ul li{
    font-size: .4rem;
}
.promotion-box{ width: 100%; height: 18.955rem; background: url(/static/Activity/YDOA_001/images/background2.png) top center no-repeat; overflow: hidden; background-size: 100%; }
.promotion-box-r{
    width: 80%;
    height: 12.075rem;
    background: url(/static/Activity/YDOA_001/images/registerbackground.png) top center no-repeat;
    overflow: hidden;
    background-size: 100%;
    margin: 0.6rem auto 0.3rem auto;
    padding-top: 1.3rem;
}
a.promotion-btn,a.promotion-btn:visited,a.promotion-btn:active,a.promotion-btn:hover{display: block; width: 11.52rem; height: 1.493rem; background-color: #fff; text-align: center; line-height: 1.493rem; border-radius: 1.493rem; color: #0085ec; font-size: 0.725rem; box-shadow: 0 0.213rem 0.427rem rgba(89,127,192,.8); margin: 26.667rem auto 0;}
a img{
    display:none;
}
.promotion-box-r p{
    background: #FFCA5A;
    width: 80%;
    height: 2rem;
    margin: 0 auto;
    border-radius: .3rem;
    margin-top: .5rem;
}
.promotion-box-r .loan{
    background-color: rgba(255,255,255,0);
    width: 80%;
    height: 1.7rem;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: .7rem;
    display: block;
    border: 0.7px solid #DC5E2D;
    font-size: .7rem;
    color: #DC5E2D;
}
.promotion-box-r input{
    background: #FFCA5A;
    width: 90%;
    margin-left: 0.3rem;
    height: 2rem;
}
.promotion-box-r p button{
    float: right;
    height: 2rem;
    padding: 0 8%;
    font-size: .56rem;
    color: #DC5E2D;
    background-color: rgba(255,255,255,0);
}
::-webkit-input-placeholder { /* WebKit browsers */
    font-size:.65rem;
    color:#F5AD49 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:.65rem;
    color:#F5AD49 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:.65rem;
    color:#F5AD49 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size:.65rem;
    color:#F5AD49 !important;
}